.container
  %registration_header
    = render partial: "layouts/registration_header"
  .main
    .form
      .form__title 会員情報入力
      .form__body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form__field
            = f.label "ニックネーム", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :nickname, class: "form__field__form",placeholder: "例)コピ太郎"

          .form__field
            = f.label "メールアドレス", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.email_field :email, class: "form__field__form",placeholder: "例)copycari@gmail.com"

          .form__field
            = f.label "パスワード", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.password_field :password, class: "form__field__form", autocomplete: "off" ,placeholder: "6文字以上"

          .form__field
            = f.label "パスワード(確認)", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.password_field :password, class: "form__field__form", autocomplete: "off" ,placeholder: "6文字以上"

          .form__field
            = f.label "お名前", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :family_name, class: "form__field__form",placeholder: "例)コピカリ"

              = f.text_field :name, class: "form__field__form",placeholder: "例)太郎"

          .form__field
            = f.label "お名前 カナ", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :family_name_kana, class: "form__field__form",placeholder: "例)コピカリ"

              = f.text_field :name_kana, class: "form__field__form",placeholder: "例)タロウ"


          .form__field
            = f.label "郵便番号", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.number_field :postal_code, class: "form__field__form",placeholder: "例)1234567"

          .form__field
            = f.label "都道府県", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :prefecture, class: "form__field__form",placeholder: "例)東京都"

          .form__field
            = f.label "市町村区", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :city, class: "form__field__form",placeholder: "例)渋谷区"

          .form__field
            = f.label "町名", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.text_field :town, class: "form__field__form",placeholder: "例)道玄坂1-1-1"

          .form__field
            = f.label "建物名", class: "form__field__label"
            %i.form__field__optional_info 任意
            %br
              = f.text_field :building_name, class: "form__field__form",placeholder: "例)コピカリビル"

          .form__field
            = f.label "電話番号", class: "form__field__label"
            %i.form__field__optional_info 任意
            %br
              = f.number_field :phone_number, class: "form__field__form",placeholder: "例)123456789"

          .form__field
            = f.label "カード番号", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.number_field :card_number, class: "form__field__form",placeholder: "例)123456789"

          .form__field.clearfix
            = f.label "有効期限", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = raw sprintf(f.date_select(:expiration_number, use_month_numbers: true, discard_day: true, start_year: (Time.now.year), end_year: (Time.now.year + 5), default: Time.now(),:class =>"form__field__select--samll" ,date_separator: '%s'), '/ ', '月 ')

          .form__field
            = f.label "セッキュリティコード", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
              = f.number_field :security_code, class: "form__field__form",placeholder: "例)123456789"

            %p.form__field__noctice カード裏面の番号とは？
          .form__field
            = f.submit "登録完了", class: "form__field__button"
          .form__field

  = render partial: "layouts/registration_footer"
