.container
  %header
    = render partial: "layouts/registration_header"
  .main
    .form
      .form__title 住所入力
      .form__body
        = form_for(@address) do |f|
          .form__field
            = f.label "お名前", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :family_name, placeholder: "例）小光", class: "form__field__form"
            %br
            = f.text_field :first_name, placeholder: "例）太郎", class: "form__field__form"

          .form__field
            = f.label "お名前 カナ", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :family_name_kana, placeholder: "例）コヒカリ", class: "form__field__form"
            %br
            = f.text_field :first_name_kana, placeholder: "例）タロウ", class: "form__field__form"

          .form__field
            = f.label "郵便番号", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :zip_code, placeholder: "例）1234567", class: "form__field__form"

          .form__field
            = f.label "都道府県", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, {prompt: "選択してください" }, {class: "form__field__select"}

          .form__field
            = f.label "市町村区", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :city, placeholder: "例）渋谷区", class: "form__field__form"

          .form__field
            = f.label "町名", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :town, placeholder: "例）道玄坂", class: "form__field__form"

          .form__field
            = f.label "町名", class: "form__field__label"
            %i.form__field__must_info 必須
            %br
            = f.text_field :house_number, placeholder: "例）9-99-99", class: "form__field__form"

          .form__field
            = f.label "町名", class: "form__field__label"
            %i.form__field__optional_info 任意
            %br
            = f.text_field :building, placeholder: "例）小光ビル 707", class: "form__field__form"

          .form__field
            = f.label "電話番号", class: "form__field__label"
            %i.form__field__optional_info 任意
            %br
            = f.text_field :telephone, placeholder: "例）123-1234-5678", class: "form__field__form"

          .form__field
            = f.submit "次へ進む", class: "form__field__button"
  = render partial: "layouts/registration_footer"
