.container
  = render partial: "layouts/header_plane"
  .main
    .form
      .form__inner
        %p.form__title 購入を確定しますか？
      .form__inner
        .form__inner__container
          .item_info
            = image_tag @item.item_images[0].image, class: "item_info__item_image"
            %p.item_info__item_name #{@item.name}
            .item_info__price_info
              %p.item_info__price_info__item_price ¥ #{@item.price}
              %p.item_info__price_info__delivery_fee #{@item.trade.days}
            .item_info__total_info.clearfix
              %p.item_info__total_info__title 支払い金額
              %p.item_info__total_info__price ¥ #{@item.price}
            = link_to "購入する", buy_finish_item_path(@item), method: :post,class: "item_info__buy_btn"
      .form__inner
        .form__inner__container
          %p.buy_info__title 配送先
          .address_info
            %ul.address_info__list.buy_info__list
              %li.address_info__zip_code 〒#{current_user.postal_code}
              %li.address_info__address  #{current_user.prefecture}#{current_user.city}#{current_user.town}#{current_user.building_name}
              %li.address_info__name     #{current_user.family_name} #{current_user.name}
  = render partial: "layouts/registration_footer"
