.container
  = render partial: "layouts/header"

  .front_image#front_image
    .front_image__conamibutton.hidden
      -if user_signed_in?
        =link_to 'push', shooting_user_path(current_user)

    .front_image__left_box.front_image_item
      %h1
        スマホでかんたん
        %br/
        フリマアプリ
      %p
        コピカリはスマホカメラからすぐに出品できる
        %br/
        購入時も安心な独自システムのアプリのダミーです。

      .front_image__left_box__stores.front_image_item.clearfix
        = image_tag "app-store.svg", class: "front_image__left_box__stores__image"
        = image_tag "google-play.svg", class: "front_image__left_box__stores__image front_image__left_box__stores__image--right"
    = image_tag "front_image.png", class: "front_image__phone_image front_image_item"
    #front_image_inner_bottom

  .consept_section
    %h2.concept_section__text
      コピカリは、かんたんに売り買いができて、
      %br/
      あんしん・あんぜんなお取引ができる
      %br/
      フリマアプリっぽいサイトです。
    .top_introduce
      .top_introduce__box
        .top_introduce__box__title
        %span.top_introduce__box__title__number 1
        %span.top_introduce__box__title__character 簡単に出品できる
        .top_introduce__box__image
        = image_tag "sell_image.jpg", class: "top_introduce__box__image__img"
        .top_introduce__box__introduce
          スマホで写真を撮って
          %br/
          特徴を入力するだけで、
          %br/
          簡単に出品できます。
      .top_introduce__box
        .top_introduce__box__title
        %span.top_introduce__box__title__number 2
        %span.top_introduce__box__title__character すぐに購入できる
        .top_introduce__box__image
        = image_tag "merucari_sample.jpg", class: "top_introduce__box__image__img"
        .top_introduce__box__introduce
          ボタン1つで即購入。
          %br/
          あとは出品者からの発送を
          %br/
          待つだけです。
      .top_introduce__box
        .top_introduce__box__title
        %span.top_introduce__box__title__number 3
        %span.top_introduce__box__title__character 商品がたくさん
        .top_introduce__box__image
        = image_tag "merucari_many.jpg", class: "top_introduce__box__image__img"
        .top_introduce__box__introduce
          毎日数十万品以上の新商
          %br/
          品が
          %br/
          出品されるので、ほしい
          %br/
          ものがきっと見つかりま
          %br/
          す。

  .front_image2#front_image
    .front_image__left_box.front_image_item
      .front_image__left_box
      誰でも簡単に、売ったり買ったりを楽しめる
      %p
        メルカリには、
        %br/
        ファッションから雑貨、家電、本や漫画に至るまで、
        %br/
        幅広いジャンルの商品がたくさん。
        %br/
        今がもう店頭に置いていない掘り出し物も見つかるかもしれません。
        %br/
        早速アプリをダウンロードして始めよう！

      .front_image__left_box__stores.front_image_item.clearfix
        = image_tag "app-store.svg", class: "front_image__left_box__stores__image"
        = image_tag "google-play.svg", class: "front_image__left_box__stores__image front_image__left_box__stores__image--right"




  .items_container.clearfix
    %h2.section_title 新着アイテム
    %i.fa.fa-camera
    %h3.category_name カテゴリー

    = render partial: "layouts/items_list"
  .front_image3#front_image
    .front_image__left_box.front_image_item
      .front_image__left_box
      スマホでかんたんフリマアプリ
      %br/
      今すぐダウンロード！！

      .front_image__left_box__stores.front_image_item.clearfix
        = image_tag "app-store.svg", class: "front_image__left_box__stores__image"
        = image_tag "google-play.svg", class: "front_image__left_box__stores__image front_image__left_box__stores__image--right"
        = image_tag "hand.png", class: "front_image__phone_image2"

  = render partial: "layouts/footer"

