.container
  = render partial: "layouts/header"
  =form_for(@item) do |f|
    .item_container
      %h2.item__title #{@item.name}
      .item__data_box.clearfix
        .item__image_box
          .item__image_box__upper
            = image_tag @item.item_images[0].image, class: "item__image_box__upper__image"
          .item__image_box__bottom
            - if @item.item_images[0].image.present?
              = image_tag @item.item_images[0].image, class: "item__image_box__bottom__image item__image_box__bottom__image--over item_thumbnails", id: "item_image_id"
            - else
              = image_tag "logos/copicari_logo_small.png", class: "item__image_box__bottom__image"
            - (1..3).each do |num|
              - if @item.item_images[num].present?
                = image_tag @item.item_images[num].image, class: "item__image_box__bottom__image item_thumbnails", id: "item_image_box_id"
              - else
                = image_tag "logos/copicari_logo_small.png", class: "item__image_box__bottom__image", id: "item_image__bottom_id"
        %table.item__data_table
          %tr
            %th 出品者
            %td #{@item.user.family_name} #{@item.user.name}
          %tr
            %th 配送料の負担
            %td #{@item.trade.fee_type}
          %tr
            %th 配送の方法
            %td #{@item.trade.trade_type}
          %tr
            %th 配送元地域
            %td #{@item.trade.area}
          %tr
            %th 配送日の目安
            %td #{@item.trade.days}
      .item__price__box
        .item__description= simple_format br @item.body
        .item__price__sub
          .item__price__price__head
          .item__price__price__center
            .item__price__price
              = @item.price
              %span  円
              / =f.select :evaluate_price, [["---", "---"], [1, 1], [10, 10], [100, 10], [500, 500], [1000, 1000], [5000, 5000], [10000, 10000]] ,{class: "sell_form__input sell_form__input--select"}
          .item__price__price__bottom
            .item__price__tax   (税 ¥0)
            .item__price__delivery_fee 送料込み

        - if user_signed_in? && @user.id == current_user.id
          = link_to "編集", edit_item_path , class: "item__purchase_btn"
        - elsif user_signed_in?
          = link_to "購入", buy_item_path(@item.id), class: "item__purchase_btn"
        - else

  = render partial: "layouts/footer"


