.container
  = render partial: "layouts/header"

  .item_container
    %h2.item__title #{@item.name}
    .item__data_box.clearfix
      .item__image_box
        .item__image_box__upper
          = image_tag @item.item_images[0].image, class: "item__image_box__upper__image"
          / - if @item.stock_status == "sold"
        .item__image_box__bottom
          - if @item.item_images[0].image.present?
            = image_tag @item.item_images[0].image, class: "item__image_box__bottom__image item__image_box__bottom__image--over item_thumbnails"
          - else
            = image_tag "logos/copicari_logo_small.png", class: "item__image_box__bottom__image"
          - (1..3).each do |num|
            - if @item.item_images[num].present?
              = image_tag @item.item_images[num].image, class: "item__image_box__bottom__image item_thumbnails"
            - else
              = image_tag "logos/copicari_logo_small.png", class: "item__image_box__bottom__image"
      %table.item__data_table
        %tr
          %th 出品者
          %td
            = link_to @item.user.name, user_path(@item.user)
        %tr
          %th 配送料の負担
          %td #{@item.trade.fee_type}
        %tr
          %th 配送の方法
          %td #{@item.trade.trade_type}
        %tr
          %th 配送元地域
          %td #{@item.trade.area}
        %tr
          %th 配送日の目安
          %td #{@item.trade.days}
    .item__price__box
      %span.item__price__price ¥ #{@item.price.to_s(:delimited)}
      %span.item__price__tax   (税 ¥0)
      %span.item__price__delivery_fee 送料込み
      = link_to "購入", root_path(@item), class: "item__purchase_btn"
      .item__description #{@item.body}
  = render partial: "layouts/footer"
