.container__right_inner__item_box
  .container__right_inner__item_box__title.clearfix
    %h2 #{title}
  .container__right_inner__item_box__content.clearfix
    - @items.each do |item|
      = link_to edit_my_page_path(item) do
        .item_box
          = image_tag item.item_images[0].image , class: "item_box__image"

        .item_box__body
          .item_box__body__name_box
            %p.item_box__body__name_box__name  #{item.name}
          %p.item_box__body__price ¥ #{item.price.to_s(:delimited)}
          = render partial: "layouts/like_box_for_list", locals: {item: item}
          %p.item_box__body__tax   (税 ¥0)

