.container__right_inner__item_box
  .container__right_inner__item_box__title.clearfix
    %h2 #{title}
  .container__right_inner__item_box__content.clearfix
    -if @items
      -@items.each do |items_group|
        - items_group.each do |item|
          = link_to item_path(item) do
            .item_box
              - if item.stock_status != "sold"
                = image_tag item.images[0].image , class: "item_box__image"
              - else
                .item_box--sold
                  = image_tag item.images[0].image , class: "item_box__image"
                  %span.item_box__image--sold SOLD
              .item_box__body
                .item_box__body__name_box
                  %p.item_box__body__name_box__name  #{item.name}
                %p.item_box__body__price ¥ #{item.price.to_s(:delimited)}
                = render partial: "layouts/like_box_for_list", locals: {item: item}
                %p.item_box__body__tax   (税 ¥0)
